.mat-card {
  width: 230px;
  height: 330px;
  margin: 10px;
  background: lightgray;
}

.mat-card img {
  width: 200px;
  height: 200px;
}
span {
  font-size: 20px;
  margin-left: 5px;
}

.mat-card-content div {
  display: inline-block;
}
